[Unit]
Description=My ASP.NET Web API

[Service]
WorkingDirectory=/home/ec2-user/myapi
ExecStart=/home/ec2-user/myapi/MyApi
Restart=always
User=ec2-user
Environment=DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://0.0.0.0:5000

[Install]
WantedBy=multi-user.target